<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      
      <target name="default" xsi:type="File"
        layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring:maxInnerExceptionLevel=5}"
        fileName="${specialfolder:folder=DesktopDirectory}/logstest/${processname}_log.txt"
				archiveEvery="minute"
        archiveDateFormat="yyyy-MM-dd-hh-mm"
				archiveNumbering="DateAndSequence"
        archiveFileName="${specialfolder:folder=DesktopDirectory}/logstest/${processname}log_{#######}.txt"
        archiveAboveSize ="10000"
				maxArchiveFiles="7" />

      <target name="logconsole" xsi:type="Console" />
      
    </targets>
    <rules>
      <logger name="*" minlevel="info" writeTo="default" />
      <logger name="*" minlevel="debug" writeTo="logconsole" />
    </rules>
  </nlog>
</configuration>